<div class="container">
	<h2>Product list</h2>
	<div class="row">
		<div class="col-sm-4" *ngFor="let item of heroes">
			<p><strong>{{ item.name }}</strong></p>
			<p *ngIf="item.skills != undefined && item.skills.length > 0">skill: </p>
			<span *ngFor="let skill of item.skills">{{skill.name}}</span>
			<img style="width: 300px" src="{{item.img}}" alt="">
			<button class="btn btn-danger" (click) = "removeHero(item)">remove</button>
		</div>
	</div>
	<div class="row mt-3">
		<form (submit)= "submitForm($event)" action="">
			<div class="form-group">
				<label for="">id</label>
				<input class="form-control" type="text" name="id">
			</div>
			<div class="form-group">
				<label for="">name</label>
				<input class="form-control" type="text" name="name-product">
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
</div>
<app-monster-list>
</app-monster-list>
