<div class="row">
    <div class="col-6 offset-3">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" action="">
            <div class="form-group">
                <label for="">Tên tác giả</label>
                <input class="form-control" type="text" formControlName="name" (keyup)="checkName($event)">
            </div>
            <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">

                <div *ngIf="f.name.errors?.required">
                    Name is required.
                </div>
                <div *ngIf="f.name.errors?.minlength">
                    Name must be at least 4 characters long.
                </div>
            </div>
            <div *ngIf="checkForNameInvalid" class="alert alert-danger">
                Name already exits.
            </div>
            <div class="text-center">
                <button [disabled]="profileForm.invalid || checkForNameInvalid" class="btn btn-success"
                    type="submit">Lưu</button>
            </div>
        </form>
    </div>
</div>