<div class="container">
	<h2>Monster list</h2>
	<div class="row">
		<div class="col-sm-4" *ngFor="let item of monsters">
			<p>
				<strong>{{ item.name }}</strong></p>
			<p>Detail: <strong>{{ item.detail }}</strong></p>
			<p>
				<span>Spell: </span>
				<span *ngFor="let spell of item.spells">
					<img width="50px" src="{{spell.icon}}" alt="">
					{{spell.name}},
				</span>
			</p>
			<img style="width: 300px" src="{{item.image}}" alt="">
			<button class="btn btn-danger" >remove</button>
		</div>
	</div>
	
</div>